@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    min-height: 100%;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #252525;
}
a {
    font-weight: bold;
    color: inherit;
    cursor: pointer; 
}
h1 , h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(44, 9, 59);
}
p {
    font-family: Roboto, sans-serif;
    
    
}
.header-background-image{
    background-image: url(../images/header-background-image.jpeg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
nav {
        display: flex;
        padding: 2% 4%;
        justify-content: space-between;
        align-items: center;
}
nav img {
    width: 135px;
    border-radius: 50%;
}
.navigation-links {
    text-align: right;
     
}
.navigation-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navigation-links ul li::after {
    background: red;
    display: block;
    margin: auto;
    transition: 5s;
    width: 0%;
    height: 2px
}
.active {
    border-bottom: 1px solid rgb(85, 10, 117);
}

.navigation-links ul li a {
    font-size: 22px;
    text-decoration: none;
}
.header-text {
    text-align: center;
    margin-top: 120px;
      
}
.header-text h1 {
    font-size: 50px;
    text-align: center;

}
.header-text p {
    font-size: 25px;
    font-style: italic;
    margin-top: 80px;
}
.contact-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(44, 9, 59);
    border: 1px solid rgb(85, 10, 117);
    padding: 5px 15px;
    position: relative;
    margin-top: 50px;
    cursor: pointer;
    transition: 2s;
}
.contact-btn:hover {
    border: 1px solid rgb(85, 10, 117);
    background: rgb(192, 161, 206);
}

.customer-feedback {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.customer-feedback p {
    font-family: Roboto, sans-serif;
    font-style: italic;
}
.feedback {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.feedback-entry {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
.feedback-entry:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.feedback-entry img {
    margin-top: 20px;
    width: 60%
}
.footer-text {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    
}
.footer-background {
    background-color: #633c6fee;
    padding: 5% 0%;
    
}
.footer-text h3, h4 {
    color:rgb(209, 209, 209);
    font-weight: 700;
}
.social-media {
    text-align: center;
    color: #fff3f3;
    font-size: 40px;
    list-style: none;
}
.social-media ul li {
    list-style-type: none;
}
