@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    min-height: 100%;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #252525;
}
a {
    font-weight: bold;
    color: inherit;
    cursor: pointer; 
}
h1 , h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(44, 9, 59);
}
.header-background-image{
    background-image: url(../images/header-background-image.jpeg);
    min-height: 100vh;
    background-position: center;
    background-size:cover;
    position: relative;
    overflow: hidden;
}
/* Navigation part*/
nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 135px;    
}
.navigation-links {
    
    text-align: right;
}
.navigation-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
/* animate a line underneath navigation links */
.navigation-links ul li::after {
    content: '';
    width: 0%;
    background: rgb(85, 10, 117);
    display: block;
    margin: auto;
    transition: .5s;
    height: 2px
}
.navigation-links ul li:hover::after {
    width: 100%;
}
.active {
    background-color: rgba(85, 10, 117, 0.324);
    padding: 0px 7px ;
    border-radius: 10px;
}
.navigation-links ul li a {
    font-size: 1.5rem;
    text-decoration: none;
}
.header-text {
    text-align: center;
    margin-top: 120px;
      
}
.header-text h1 {
    font-size: 3rem;
}
.header-text p {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 80px;
}
/* Button for Index and Contact Us page  */
.contact-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(44, 9, 59);
    border: 2px solid rgb(85, 10, 117);
    padding: 12px 15px;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
}
.contact-btn:hover {
    border: 2px solid rgb(85, 10, 117);
    background: rgb(192, 161, 206);
}

/* Testimonial Part*/

.customer-feedback {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}
.customer-feedback p {
    font-family: Roboto, sans-serif;
    font-style: italic;
}
.feedback {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.feedback-entry {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
.feedback-entry:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.feedback-entry img {
    margin-top: 10px;
    width: 80%
}

/* footer */

.footer-text {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;    
}
.footer-background {
    background-color: #633c6fee;
    padding: 10px;
}
.footer-text h3, h4 {
    color:rgb(209, 209, 209);
    font-weight: 700;
}
.social-media {
    text-align: left;
    color: #fff3f3;
    font-size: 2.5rem;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
      
}
.social-media ul li {
    list-style-type: none;
    display: inline-block;

}

/* Contact Us Page */
.contact-header-background-image {
    background: url(../images/gallery-photo/hero-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about-us h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 60px;
}

.contact-us {
    width: 80%;
    margin: auto;
    background-color: #fff3f3;
    padding: 3% 3%;
}
.form-entry {
    width: 100%;
}
.text-input {
    display: block;
    border: 1px solid #ccc;
    width: 50%;
    padding: 5px;
    margin-bottom: 17px;
    outline: none;
    border-radius: 10px;
}
.map{
    margin-top: 20px;
    padding-bottom: 0px;
}

/* Gallery Page */

.gallery-background-image {
    background: url(../images/gallery-photo/hero-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0; 
    margin: auto;
    width: 80%;
}
.photos img {
   width: 100%;
   border-radius: 50%;   
}
#gallery-title {
    font-family: Roboto, sans-serif;
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(44, 9, 59);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;

}
/*  classes Page */
/* Yoga part */
.our-yoga-styles > p {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    padding-top: 30px;
    letter-spacing: 0.5px;
}
.our-yoga-styles h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
}
.our-yoga-styles h2 {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 40px;
}
.yoga-type {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.yoga-style {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;    
    box-sizing: border-box;
    transition: .5s;
    padding-bottom: 30px;
}
.yoga-style:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.474);
}
.yoga-style img{
    border-radius: 10px;
    width: 100%;       
}
.yoga-style h2 {
    text-align: center;
    font-style: italic;
    padding: 15px;
}
.yoga-style p {
    text-align: left;
    width: 80%;
    margin: auto;
}

/* Instructor part */

.get-to-know-your-teacher h2 {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 40px;
}
.teacher-introduction {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}
.teacher-details {
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;    
    box-sizing: border-box;
    transition: .5s;
    padding-bottom: 30px;
}
.teacher-details:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.474);
}
.teacher-details img{
    border-radius: 10px;
    width: 100%;       
}
.teacher-details h3 {
    text-align: center;
    font-style: italic;
    padding: 15px;
}
.teacher-details p {
    text-align: left;
    width: 80%;
    margin: auto;
}

/* Time Table*/
.schedule h2 {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 40px;
}
.time-table {
    margin: auto;
    width: 100%;
}
.time-table table {   
    width: 90%; 
    padding: 5% 0% 5% 2%;
}
.susan {
    background-color: rgb(254, 177, 222);
}
.karen {
    background-color: #a8faba;
}
.lauren {
    background-color: #8d94fd;
}
.time-table table tr td,th {
    padding: 10px;
    text-align: center;
}


/* Sign Up*/
.sign-up {
    text-align: center;
    margin: 20px 0 20px;
}
.sign-up-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(44, 9, 59);
    border: 2px solid rgb(85, 10, 117);
    padding: 20px 20px;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
}
.sign-up-btn:hover {
    border: 2px solid rgb(85, 10, 117);
    background: rgb(192, 161, 206);
}

/*  formdump */
.formdump-header-background-image {
    background: url(../images/gallery-photo/hero-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.formdump{
    background-color: #fff3f3;
    width: 80%;
    margin: auto;
}
.formdump h3{
    text-align: center;
    padding: 20%;
}
/* 404 Error Page*/

.error-404{
    text-align: center;
    padding: 20%;
}
.error-404 h1 {
    font-size: 2rem;
}
.error-404 p, a{
    margin: 15px;
    font-size: 2 rem;
}
/* Media Queries */


@media screen and (max-width: 950px){
    .navigation-links ul li a {
        font-size: 1.2rem;
        text-decoration: none;
    }
    .header-text h1 {
        font-size: 2.5rem;
    }
    .time-table {
        margin: auto;
        width:100%;
    }
    .navigation-links ul li {
        display: block;
        padding: 5px;          
    }
}

@media screen and (max-width: 800px){    
    .feedback {
        flex-direction: column;
    }
    .yoga-type{
        flex-direction: column;
    }
    .yoga-style{
        margin-bottom: 50px;
    }
    .teacher-introduction{
        flex-direction: column;
    }
    .teacher-details{
        margin-bottom: 50px;
    }
    .time-table{
        width: 100%;
        font-size: .7rem;  
    }
    .time-table table tr td,th {
        padding: 5px;
        text-align: center;
    }
    nav img {
        width: 120px;    
    }
    .navigation-links ul li {
        flex-direction: column;
    }
    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: auto;    
    }
}