@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    min-height: 100%;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #252525;
}
a {
    font-weight: bold;
    color: inherit;
    cursor: pointer; 
}
h1 , h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(44, 9, 59);
}
p {
    font-family: Roboto, sans-serif;
}
.header-background-image{
    background-image: url(../images/header-background-image.jpeg);
    min-height: 100vh;
    background-position: center;
    background-size:cover;
    position: relative;
    overflow: hidden;
}
/* Navigation part*/
nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 135px;
    
}
.navigation-links {
    text-align: right;
}
.navigation-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navigation-links ul li::after {
    content: '';
    width: 0%;
    background: rgb(85, 10, 117);
    display: block;
    margin: auto;
    transition: .5s;
    height: 2px
}
.navigation-links ul li:hover::after {
    width: 100%;
}
.active {
    background-color: rgba(85, 10, 117, 0.324);
    padding: 0px 7px ;
    border-radius: 10px;
}
.navigation-links ul li a {
    font-size: 1.5rem;
    text-decoration: none;
}

/* footer */
.formdump-footer-bg {
    background-color: #633c6fee;
    padding: 1% 0%;    
}
.footer-text {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;    
}

.footer-text h3, h4 {
    color:rgb(209, 209, 209);
    font-weight: 700;
}
.footer-social-media {
    text-align: center;
    color: #fff3f3;
    font-size: 2.5rem;
    list-style: none;
    margin: 8px;      
}
.footer-social-media ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 30px;
}

/* FormDump page*/
.formdump {
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 30%;    
    margin-top: 120px;
    font-size: 1rem;
}
@media screen and (max-width: 950px){
    .footer-navigation-links ul li a {
        font-size: 1.2rem;
        text-decoration: none;
    }
}

@media screen and (max-width: 800px){    
    .feedback {
        flex-direction: column;
    }
    .yoga-type{
        flex-direction: column;
    }
    .yoga-style{
        margin-bottom: 50px;
    }
    .teacher-introduction{
        flex-direction: column;
    }
    .teacher-details{
        margin-bottom: 50px;
    }
    .time-table table {
        font-size: .7rem;
        
        width: 90%; 
        padding: 5% 0% 5% 2%;
    }
    nav img {
        width: 120px;    
    }
    .footer-navigation-links ul li {
        flex-direction: column;
    }
    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        margin: auto;    
    }
}

